/.chainlit/translations/
/.coverage
/.chainlit/session_id
/.vscode/

# Terraform
terraform/.terraform/
terraform/.terraform.*
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/crash.log

# JetBrains IDE configs (do not commit local run configurations)
/.idea/
